version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clinic-management-system-app
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    command: >
      sh -c "python script.py migrate &&
             python script.py runserver 0.0.0.0:8000"

  db:
    image: postgres:15
    container_name: clinic-management-system-db
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./dump_pg.sql:/docker-entrypoint-initdb.d/dump_pg.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
